---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { ClientRouter } from "astro:transitions";
import '../styles/global.css';

const rawPath = Astro.url.pathname;
const currentPath = rawPath.replace(/\/$/, '') || '/';
const { pageTitle } = Astro.props;
const { metaDescription } = Astro.props;

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- SEO Title & Description -->
    <title>{pageTitle}</title>
    <meta name="description" content={metaDescription} />

    <!-- Open Graph Tags -->
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={metaDescription} />
    <meta property="og:image" content="https://www.cisneypainting.net/assets/cisney-painting-and-power-washing-og.png" />
    <meta property="og:url" content="https://www.cisneypainting.net/" />
    <meta property="og:type" content="website" />

    <!-- Optional: Robots -->
    <meta name="robots" content="index, follow" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9ZM3ZELJ32"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-9ZM3ZELJ32');
    </script>

  <slot name="head" />
  </head>  
  <body>
    <ClientRouter />
    <Header currentPath={currentPath} />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>